// Content listed
.content-listed {
  margin-top: 15px;

  .thumbnail {
    @media (max-width: $screen-xs-max) {
      height: auto !important;
    }
  }

}

.col-md-12.content-listed {


  .post-thumbnail-figure {

  }

  .entry-header {

  }

  .entry-title {

  }

  .entry-content {
    clear: both;
    margin: 15px auto 0 auto;
    padding: 15px 0;

    &:before, &:after {
      display: table;
      content: '';
      clear: both;
    }
  }
}