// Variables (override bootstrap variables and creating some new)

//$brand-primary: #DAA520; // Gold
$brand-primary: #0738B3; // Blue

$font-family-sans-serif:  'Roboto', sans-serif;
$font-family-serif:       'Lora', serif;

  //== Thumbnails
//
//##

//** Padding around the thumbnail image

//** Thumbnail background color
$thumbnail-bg:                transparent;

//** Thumbnail border radius
$thumbnail-border-radius:     0;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     #000;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px;


//** Glyphicons font path
$icon-font-path: "fonts/bootstrap/";

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary;
//** Link hover decoration.
$link-hover-decoration: underline !default;

// Border radius
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;